@charset "UTF-8";
body{
    font-family:"Helvetica", Arial, sans-serif;
}
.Dragable{
    cursor: move;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    color: #FFF;
    font-weight: 500;

    background-color:#666;
    font-size: 16px;

    padding:10px;
    margin: 2px;
    vertical-align: middle;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
.Indragable{
    font-weight: bold;
    margin: 0;
    display:inline-block;
}
.DropTarget{
    background-color: #fff;
    overflow:auto;
    padding:2em;
    margin-bottom:5px;
    border: 1px dashed #999;
    border-radius: 10px;
}
@media screen and (max-width: 480px) {
    html, body{
        margin: 0;
        padding: 0;
        font-size: 1em;
    }
    .Dragable{
        margin: 0;
    }
    .DropTarget{
        margin: 0;
        padding: 0.5em;
    }
}